table {
	margin: 0 0 40px 0;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	display: table;
}
tr {
    padding-left: 12px;
	display: table-row;
	background: #f6f6f6;
	&:nth-of-type(odd) {
		background: #e9e9e9;
	}
}
th {
	font-weight: 900;
	color: #ffffff;
	background: #F7C12C;
}
.firstColumn {
    padding: 0 8px;
}
@media screen and (max-width: 580px) {
	table {
		display: block;
		overflow-x: auto;
	}
}
